<%= will_paginate @entites %>
<div class="register">
  <i class="fas fa-bars"></i>
  TRANSACTIONS
  <i class="fas fa-search"></i>
</div>
  <%= link_to "Most recent", recent_entities_path, method: :post,class:'most' %>
  <div class="cards_container">
     <%= render 'ancient_entities'%>
   </div>
  