<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" 
  integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class='welcome rotate'>Welcome to the payments app</div>
<div class="rotate"><i class="fas fa-dollar-sign fa-7x"></i></div>