/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Proxima_nova_bold";
  src: url("./fonts/FontsFree-Net-Proxima-Nova-Bold.otf");
  font-family: "Proxima_nova_light";
  src: url("./fonts/FontsFree-Net-Proxima-Nova-Light.otf");
}

.profiler-result {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Proxima_nova_bold", "Courier New", monospace;
}

body {
  font-family: "Proxima_nova_light", "Courier New", monospace;
}

.alert {
  background-color: #5fb523;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registrations_body {
  background-color: white;
  height: 100vh;
}

.sign_form {
  width: 80%;
  color: gray;
}

.nav_bar {
  display: flex;
}

.register {
  height: 10vh;
  background-color: rgb(26, 72, 121);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
}

.avleft {
  margin-left: -10px;
}

.upload {
  display: flex;
  align-items: center;
}

.up {
  margin-left: 20px;
}

.links,
.icons {
  display: flex;
  justify-content: space-between;
}

.circles {
  display: flex;
}

.entities_body {
  background-color: white;
  height: 100vh;
}

.groups_body {
  background-color: white;
  height: 100vh;
}
