// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, th, td {
  border: 1px solid black;
  font-size: 13px;
}


.merchant{
  width: 120px;
  display: flex;
  justify-content: center;
}

.g_avatar{
  margin-top: 20px;
  border: solid white 1px;box-shadow: 5px 5px 5px;
  background-size: 200px;
  width:100px;
  height: 100px;
  border-radius: 50%;
}

.group {
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
  width: 250px;
}

.company{
  margin-top: 20px;
}

.sub_tra{
  margin-top: 30px;
}

.header_table{
  margin-left: 10px;
}
