// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: "CustomFont";
  src: url("./fonts/Roboto-Regular.ttf");

  }

body {
    background-color: rgb(45,127,186);
    color: white;
  }

  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    color: white;
  }

  .home_links{
    display: flex;
    justify-content: center;
  }

  .rotate {
    animation: rotate 10s infinite;
  }
  @keyframes rotate {
    100% {
      transform: rotateY(180deg);
    }
  }

  .nav_bar {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .link {
    margin-right: 10px;
    color: white;
    text-decoration: none;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .actions{
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  .sign_form{
    margin-top: 120px;
  }
  .must {
    text-decoration: underline;
    margin-top: 10px;
  }

  #user_email,
  #user_password,
  #user_password_confirmation{
    width: 220px;
    margin-top: 5px;
  }

  h1,
  label {
    font-family: "CustomFont", "Courier New", monospace;
  }

  .avatar {
    border: solid white 1px;box-shadow: 5px 5px 5px;
    background-size: 200px;
    width:100px;
    height: 100px;
    border-radius: 50%;
  }

.avatar_and_buttons{ display: flex}
.create_group{
  margin-top: 33px;
  margin-left: 60px;
}
